---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About 🚀</title>
	</head>
	<body>
        <a href="/">
            <button class="rounded-full text-center shadow-xl hover:ring-1 hover:shadow-xl hover:shadow-slate-600 px-4 py-2">
                Inicio
            </button>
        </a>
        <a href="/about/">
            <button class="rounded-full text-center shadow-xl hover:ring-1 hover:shadow-xl hover:shadow-slate-600 px-4 py-2">
                Sobre mi
            </button>
        </a>
        <a href="/blog/">
            <button class="rounded-full text-center shadow-xl hover:ring-1 hover:shadow-xl hover:shadow-slate-600 px-4 py-2">
                Blog
            </button>
        </a>

		<h1>Sobre mi...</h1>
        <h2>... ¡y mi nuevo sitio Astro!</h2>

        <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>

        <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
</body>
	</body>
</html>

<!-- <style>
    button {

    }
</style> -->