---
// Styles
import '../styles/global.css'

// Components
// import Navigation from '../components/Navigation.astro'; // REFACTORIZANDO
// import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const titleBlogPage = 'Astro  - Learning how to create stunningly fast web applications';
const title = 'Blog'

const posts = [
    { id: 1, title: "Publicaci贸n 1", href: "/posts/post-1/" },
    { id: 2, title: "Publicaci贸n 2", href: "/posts/post-2/" },
    { id: 3, title: "Publicaci贸n 3", href: "/posts/post-3/" }
];
---

<BaseLayout titlePage={titleBlogPage} title={title}>
    <!-- <h1>Mi blog de Astro aprendizaje</h1> -->
    <p>Aqu铆 es donde publicar茅 sobre mi viaje de aprendizaje Astro.</p>
    <!-- <ul>
        <li>
            <a href="/posts/post-1/"> (relativo a 'index')
                Publicaci贸n 1
            </a>
        </li>
        <li>
            <a href="/posts/post-2/">
                Publicaci贸n 2
            </a>
        </li>
        <li>
            <a href="/posts/post-3/">
                Publicaci贸n 3
            </a>
        </li>
    </ul> -->
    <ul>
        {
            posts.map((post) => {
                return (
                    <li>
                        <a href={post.href} target="_blank" rel="noopener noreferer">
                            {post.title}
                        </a>
                    </li>
                )
            })
        }
    </ul>

    <!-- <Footer />
    <script>
        import "../scripts/menu.js";
    </script> -->
</BaseLayout>