---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog 🚀</title>
	</head>
	<body>
        <a href="/">
            <button class="rounded-full text-center shadow-xl hover:ring-1 hover:shadow-xl hover:shadow-slate-600 px-4 py-2">
                Inicio
            </button>
        </a>
        <a href="/about/">
            <button class="rounded-full text-center shadow-xl hover:ring-1 hover:shadow-xl hover:shadow-slate-600 px-4 py-2">
                Sobre mi
            </button>
        </a>
        <a href="/blog/">
            <button class="rounded-full text-center shadow-xl hover:ring-1 hover:shadow-xl hover:shadow-slate-600 px-4 py-2">
                Blog
            </button>
        </a>

		<h1>Mi blog de Astro aprendizaje</h1>
        <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
</body>
	</body>
</html>