---
import '../styles/global.css';

// import '../scripts/menu.js';

// import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const titlePage = 'Astro 🚀 - Learning how to create stunningly fast web applications'
const title = '🤖 Creando un blog en Astro 🚀'
---

<BaseLayout titlePage={titlePage} title={title}>
	<h2>
		Hola
	</h2>
</BaseLayout>
