---
const { url, title } = Astro.props;
---
<li>
    <a href={url} target="_blank" rel="noopener noreferer">
        {title}
    </a>
    <a href={url} target="_blank" rel="noopener noreferer">
        {title}
    </a>
</li>